<!DOCTYPE html>
<html lang="en">
<%- include("partials/head.ejs") %>
<body>
    <%- include("partials/navbar.ejs") %>
    <div class="container mt-5">
        <h1> About</h1>
        <p> ini adalah halaman about</p>
    </div> 
</body>
</html>